body { 
  background-image: url("/public/moviecollage.jpg");
  background-size: 100% 100%;
}
img {

  margin-top: -8px;
  margin-left: -8px;
 }
#wrapper {
   width: 960px;
   margin-left: auto;
   margin-right: auto;
        
      }
      h1{
        font-family: 'Bungee Shade', cursive;
        background-color: rgba(255, 0, 0, 0.404);
        text-align: center;
        font-size: 60px;
      }
#articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 500px;
      }
.eachArticle {
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 10px;
      }
.titleDiv {

        color: red;
      }
ul {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgba(57, 248, 9, 0.63);
      }
#notes {
        float: right;
        width: 30%;
        background-color: rgba(137, 43, 226, 0.466);
        
      }
      h3{
        color: rgb(251, 255, 0);
      }
textarea, input {
        display: block;
        width: 100%;
        background-color: rgba(247, 108, 229, 0.479);
      }
input {
        height: 36px;
        font-size: 24px;
      }
textarea {
        height: 200px;
        font-size: 18px;
}